
@{
    ViewData["Title"] = "Index";
}
<!--
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
-->

<script type="text/javascript" src="~/lib/jquery/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#savebutton").click(function () {
            alert("I am JQuery I am ready!");
        });

    });
</script>
<form action="Home/Save" >
        Username : <input type="text" name="departmentid" id="departmentid" /><br />
        Password : <input type="text" name="departmentname" id="departmentname" /><br />
        <input type="submit" id="savebutton" value="Save" /><br />
</form>
